main {
    .soportefixed {
        position: fixed;
        right: 100px;
        bottom: 80px;
    }
}

.tituloprincipal{
    @extend %flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../img/patron\ hamburguesa1.jpg");
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    h1{
        font-size: nth($font-size, 11);
        color: nth($colores, 6);
        font-family: 'DynaPuff', cursive;
        font-weight: 400;
        border: 2px solid nth($colores, 4);
        padding: 25px;
        margin: 20px;
        background-color: nth($colores, 4);
        border-radius: 10px;
        box-shadow: 1px 1px 65px 6px rgba(221, 186, 71, 0.87);
        -webkit-box-shadow: 1px 1px 65px 6px rgba(221, 186, 71, 0.87);
        -moz-box-shadow: 1px 1px 65px 6px rgba(221, 186, 71, 0.87);
    }
    p{
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: nth($font-size, 7);
        color: nth($colores, 7);
        margin-bottom: 20px;
    }
    .botontitulo{
        color: $color-secundario;
        background-color: $color-principal;
        text-decoration: none;
        padding: 10px;
        font-size: nth($font-size, 4);
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-weight: 500;
        margin-bottom: 20px;
        border-radius: 5px;
        transition: 0.5s;
        &:hover {
            background-color: rgba(0, 0, 0, 0.541);
            color: $color-principal;
        }
    }
}

.grid-galeria {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px;
    gap: 25px;
    background-color: $color-secundario;
.grid-item {
        img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 1px 9px 10px 2px rgba(221, 186, 71, 0.68);
        -webkit-box-shadow: 1px 9px 10px 2px rgba(221, 186, 71, 0.68);
        -moz-box-shadow: 1px 9px 10px 2px rgba(221, 186, 71, 0.68);
        }
    }
}

.img-1 {
    grid-row: span 3;
}

.img-5 {
    grid-row: span 2;
}

.productos{
    h2{
        color: beige;
        font-family: 'DynaPuff', cursive;
        font-weight: 400;
        font-size: nth($font-size, 10);
        text-align: center;
        background-color: #181818ea;
        padding: 25px;
        &::first-letter{
            color: $color-principal;
            font-size: nth($font-size, 12);
            font-style: italic;
            margin: 5px;
        }
    }
    .contenedor-productos{
        @extend %flex;
        flex-wrap: wrap;
        margin: 50px;
    }
    .producto{
        width: 250px;
        height: 340px;
        border: 1px rgba(0, 0, 0, 0) solid;
        text-align: center;
        margin: 20px;
        display: inline-block;
        background-color: rgba(245, 245, 220, 0.596);
        border-radius: 7px;
        box-shadow: 10px 10px 23px -5px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 23px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 23px -5px rgba(0,0,0,0.75);
        img{
            width: 95%;
            height: 250px;
        }
        h3{
            font-size: nth($font-size, 4);
            font-family: 'Lato', sans-serif;
            font-weight: 600;
            margin-bottom: 25px;
        }
        .botonmenu{
            color: white;
            font-family: 'Lato', sans-serif;
            font-weight: 500;
            background-color: $color-principal;
            text-decoration: none;
            margin-bottom: 15px;
            border-radius: 5px;
            transition: 0.5s;
            background-color: $color-principal;
            color: white;
            padding: 10px;
            &:hover{
                background-color: $color-secundario;
                color: $color-principal;
            }
        }
    }
}