@media screen and (max-width: 1200px) {
    .grid-galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 220px;
    }
    .grid-item {
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media screen and (max-width: 768px) {
    .whatsapp {
        display: none;
    }

    header {
        flex-direction: column;
    }

    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 5px;
        text-align: center;
    }

    .placeright {
        flex-direction: column-reverse;
    }

    .sobrenosotros {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .backgroundnosotros {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .comentario h2{
        font-size: nth($font-size, 8);
    }
}

@media screen and (max-width: 600px) {
    .tituloprincipal h1 {
        font-size: nth($font-size, 8);
        margin: 5px;
    }

    .tituloprincipal p {
        font-size: nth($font-size, 6);
        margin: 10px;
    }

    .botontitulo {
        font-size: 12px;
    }

    header img {

    }

    .productos h2 {
        font-size: nth($font-size, 9);
    }
}

@media screen and (max-width: 480px) {
    .grid-galeria {
        grid-template-columns: 1fr;
    }

    .grid-item {
        grid-column: span 1;
        grid-row: span 1;
    }

    .producto {
        flex-direction: column;
    }

    .productos h2 {
        font-size: nth($font-size, 8);
    }

    .tituloprincipal h1 {
        margin: 10px;
    }

    footer ul.menu {
        display: none;
    }

    .productos h2 {
        font-size: nth($font-size, 6);
    }

    .sobrenosotros img {
        width: 250px;
        height: 250px;
    }

    .sobrenosotros div p {
        font-size: nth($font-size, 3);
    }
}